.viewport {
  max-width: 100%;
  overflow: auto;
}

#intake-log {
  min-width: 650px;
  min-height: 435px;
  padding-top: $row-height;
  padding-bottom: $row-height;
  background-color: $color-3;
  position: relative;

  &::before {
    content: 'Drag food here.';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -165px;
    margin-top: -18px;
    @include bold(36px);
    color: lighten($color-3, 10%);
    line-height: 1;
  }
}
.intake-row {
  position: relative;
  height: $row-height;
  overflow: hidden;
  padding-left: 65px;

  .row-delete {
    position: absolute;
    width: 60px;
    left: 4px;
    top: 10px;
    text-align: right;
    visibility: hidden;

    .glyphicon {
      cursor: pointer;
      display: inline-block;
      margin-right: 10px;
    }
  }

  &:hover {
    .row-delete {
      visibility: visible;
    }
  }

  &:last-child {
    .row-delete {
      display: none;
    }
  }
}

.cell {
  $padding: 10px;
  @include regular(14px);
  text-align: center;
  float: left;

  &.cell-head {
    padding: $padding;
    height: $row-height;
    background-color: $color-4;
    border-right: 1px solid $color-3;

    &:last-child {
      border-right: none;
    }
  }

  input {
    padding: $padding;
    width: 100%;
    height: $row-height;
    border: none;
    border-bottom: 1px solid rgba($color-main, 0.35);
    border-right: 1px solid rgba($color-main, 0.35);
    background-color: lighten($color-main, 50%);
    text-align: center;
    max-width: 100%;
    @include bold;
    color: $color-main;
    font-size: 22px;
    transition: background-color 0.35s;

    &:focus,
    &:hover {
      background-color: $wh;
    }
  }
}

.btn {
  margin-top: 15px;
  margin-left: 15px;
}
.btn-reset {
  background-color: $color-info;
}
.btn-save {
  background-color: $color-success;
  margin-right: 30px;
}

