@import "variables";

@mixin regular($size: $base-font-size) {
  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  font-size: $size;
}

@mixin bold($size: $base-font-size) {
  font-family: $font-family;
  font-weight: 700;
  font-style: normal;
  font-size: $size;
}

@mixin italic($size: $base-font-size) {
  font-family: $font-family;
  font-weight: 400;
  font-style: italic;
  font-size: $size;
}

@mixin bold-italic($size: $base-font-size) {
  font-family: $font-family;
  font-weight: 700;
  font-style: italic;
  font-size: $size;
}


