/* fonts */
$font-family: 'Space Mono', monospace;
$base-font-size: 16px;

/* colors */
$bl: #000;
$wh: #fff;

$color-main: #32343e;
$color-2: #3a3c48;
$color-3: #3d3e4b;
$color-4: #2b2e35;

$color-hilite: #df814d;
$color-error: #df4c62;
$color-info: #65a1c5;
$color-success: #65c785;


/* components */
$food-item-height: 30px;
$row-height: 45px;