@import "variables";
@import "mixins";

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: $color-4;
  color: $wh;
  @include regular;
}

.base-row {
  &.base-1 {
    background-color: $color-2;
  }
  &.base-2 {
    //background-color: $color-main;
  }
}

.sys-msg {
  position: relative;
  min-height: 50px;
  @include italic(16px);
  white-space: pre-wrap;
  padding: 15px 35px;
  cursor: pointer;

  &.error {
    color: $color-error;
  }
  &.success {
    color: $color-success;
  }
  &:hover {
    .msg-close {
      color: $wh;
    }
  }

  .msg-close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
}


            /************/
           /* VITAMINS */
          /************/

.vitamins {
  .vitamin {
    display: inline-block;
    width: 20%;
    border-right: 1px solid $color-main;
    padding: 90px 0 5px;
    text-align: center;

    &.active {
      @include bold;
      color: $wh;
      background-color: $color-hilite;
    }
  }
}


              /*************/
             /* FOOD TREE */
            /*************/

.food-col {
  background-color: $color-main;
  padding-bottom: 20px;
  min-height: 435px;
}

.food-menu {
  float: right;
  margin: 25px 35px 0 0;

  .food-item {
    height: $food-item-height;
    position: relative;
    margin-left: 23px;
    @include regular(14px);

    &.category {
      height: auto;

      .folder {
        color: $color-error;
      }

      .category-name {
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        height: $food-item-height;
        @include bold-italic(16px);
        color: $color-info;
      }
    }

    &.active {
      @include bold(14px);
      color: $color-hilite;
    }
  }
}



              /**************/
             /* INTAKE LOG */
            /**************/
@import "intake-log";


              /***********/
             /*  TOOLS  */
            /***********/
.demo-tools {
  text-align: center;
  color: $wh;
  font-size: 14px;
  padding-top: 10px;
  line-height: 0.5;

  .tool-arrow {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
}


              /**********/
             /*  ANIM  */
            /**********/
.tree-enter,
.tree-appear {
  height: 0;
  opacity: 0;
  transition: all 0.5s;
}
.tree-appear.tree-appear-active,
.tree-enter.tree-enter-active {
  height: $food-item-height;
  opacity: 1;
}
.tree-leave {
  height: $food-item-height;
  opacity: 1;
  transition: all 0.5s;
}
.tree-leave.tree-leave-active {
  height: 0;
  opacity: 0;
}

.row-enter,
.row-appear {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s;
}
.row-appear.row-appear-active,
.row-enter.row-enter-active {
  transform:  scaleY(1);
}
.row-leave {
  transform:  scaleY(1);
  transform-origin: top;
  transition: all 0.5s;
}
.row-leave.row-leave-active {
  transform:  scaleY(0);
}

/* overrides */
.row {
  //max-width: 100%;
}

$class-slug: col-md !default;
@for $i from 1 through 12 {
  .#{$class-slug}-#{$i} {
    padding-left: 0;
    padding-right: 0;
  }
}
