/* fonts */
/* colors */
/* components */
/* fonts */
/* colors */
/* components */
html {
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  background-color: #2b2e35;
  color: #fff;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px; }

.base-row.base-1 {
  background-color: #3a3c48; }

.sys-msg {
  position: relative;
  min-height: 50px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  white-space: pre-wrap;
  padding: 15px 35px;
  cursor: pointer; }
  .sys-msg.error {
    color: #df4c62; }
  .sys-msg.success {
    color: #65c785; }
  .sys-msg:hover .msg-close {
    color: #fff; }
  .sys-msg .msg-close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; }

/************/
/* VITAMINS */
/************/
.vitamins .vitamin {
  display: inline-block;
  width: 20%;
  border-right: 1px solid #32343e;
  padding: 90px 0 5px;
  text-align: center; }
  .vitamins .vitamin.active {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    background-color: #df814d; }

/*************/
/* FOOD TREE */
/*************/
.food-col {
  background-color: #32343e;
  padding-bottom: 20px;
  min-height: 435px; }

.food-menu {
  float: right;
  margin: 25px 35px 0 0; }
  .food-menu .food-item {
    height: 30px;
    position: relative;
    margin-left: 23px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px; }
    .food-menu .food-item.category {
      height: auto; }
      .food-menu .food-item.category .folder {
        color: #df4c62; }
      .food-menu .food-item.category .category-name {
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        height: 30px;
        font-family: "Space Mono", monospace;
        font-weight: 700;
        font-style: italic;
        font-size: 16px;
        color: #65a1c5; }
    .food-menu .food-item.active {
      font-family: "Space Mono", monospace;
      font-weight: 700;
      font-style: normal;
      font-size: 14px;
      color: #df814d; }

/**************/
/* INTAKE LOG */
/**************/
.viewport {
  max-width: 100%;
  overflow: auto; }

#intake-log {
  min-width: 650px;
  min-height: 435px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #3d3e4b;
  position: relative; }
  #intake-log::before {
    content: 'Drag food here.';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -165px;
    margin-top: -18px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #545567;
    line-height: 1; }

.intake-row {
  position: relative;
  height: 45px;
  overflow: hidden;
  padding-left: 65px; }
  .intake-row .row-delete {
    position: absolute;
    width: 60px;
    left: 4px;
    top: 10px;
    text-align: right;
    visibility: hidden; }
    .intake-row .row-delete .glyphicon {
      cursor: pointer;
      display: inline-block;
      margin-right: 10px; }
  .intake-row:hover .row-delete {
    visibility: visible; }
  .intake-row:last-child .row-delete {
    display: none; }

.cell {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  float: left; }
  .cell.cell-head {
    padding: 10px;
    height: 45px;
    background-color: #2b2e35;
    border-right: 1px solid #3d3e4b; }
    .cell.cell-head:last-child {
      border-right: none; }
  .cell input {
    padding: 10px;
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 1px solid rgba(50, 52, 62, 0.35);
    border-right: 1px solid rgba(50, 52, 62, 0.35);
    background-color: #b0b2bf;
    text-align: center;
    max-width: 100%;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #32343e;
    font-size: 22px;
    transition: background-color 0.35s; }
    .cell input:focus, .cell input:hover {
      background-color: #fff; }

.btn {
  margin-top: 15px;
  margin-left: 15px; }

.btn-reset {
  background-color: #65a1c5; }

.btn-save {
  background-color: #65c785;
  margin-right: 30px; }

/***********/
/*  TOOLS  */
/***********/
.demo-tools {
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  line-height: 0.5; }
  .demo-tools .tool-arrow {
    display: inline-block;
    padding: 10px;
    cursor: pointer; }

/**********/
/*  ANIM  */
/**********/
.tree-enter,
.tree-appear {
  height: 0;
  opacity: 0;
  transition: all 0.5s; }

.tree-appear.tree-appear-active,
.tree-enter.tree-enter-active {
  height: 30px;
  opacity: 1; }

.tree-leave {
  height: 30px;
  opacity: 1;
  transition: all 0.5s; }

.tree-leave.tree-leave-active {
  height: 0;
  opacity: 0; }

.row-enter,
.row-appear {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s; }

.row-appear.row-appear-active,
.row-enter.row-enter-active {
  transform: scaleY(1); }

.row-leave {
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.5s; }

.row-leave.row-leave-active {
  transform: scaleY(0); }

/* overrides */
.col-md-1 {
  padding-left: 0;
  padding-right: 0; }

.col-md-2 {
  padding-left: 0;
  padding-right: 0; }

.col-md-3 {
  padding-left: 0;
  padding-right: 0; }

.col-md-4 {
  padding-left: 0;
  padding-right: 0; }

.col-md-5 {
  padding-left: 0;
  padding-right: 0; }

.col-md-6 {
  padding-left: 0;
  padding-right: 0; }

.col-md-7 {
  padding-left: 0;
  padding-right: 0; }

.col-md-8 {
  padding-left: 0;
  padding-right: 0; }

.col-md-9 {
  padding-left: 0;
  padding-right: 0; }

.col-md-10 {
  padding-left: 0;
  padding-right: 0; }

.col-md-11 {
  padding-left: 0;
  padding-right: 0; }

.col-md-12 {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=space-mission.css.map */
